<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.icatw.blog.mapper.MessageMapper">
    <resultMap type="cn.icatw.blog.domain.entity.Message" id="MessageMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="messageContent" column="message_content" jdbcType="VARCHAR"/>
        <result property="ipAddress" column="ip_address" jdbcType="VARCHAR"/>
        <result property="ipSource" column="ip_source" jdbcType="VARCHAR"/>
        <result property="time" column="time" jdbcType="INTEGER"/>
        <result property="isReview" column="is_review" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!-- 基本字段 -->
    <sql id="Base_Column_List">
        id ,
                 nickname ,
                 avatar ,
                 message_content ,
                 ip_address ,
                 ip_source ,
                 time ,
                 is_review ,
                 create_time ,
                 update_time ,
    </sql>
    <!--查询指定行数据-->
    <select id="selectMessageList" resultMap="MessageMap">
        select
        <include refid="Base_Column_List"/>

        from tb_message
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="nickname != null and nickname != ''">
                and nickname = #{nickname}
            </if>
            <if test="avatar != null and avatar != ''">
                and avatar = #{avatar}
            </if>
            <if test="messageContent != null and messageContent != ''">
                and message_content = #{messageContent}
            </if>
            <if test="ipAddress != null and ipAddress != ''">
                and ip_address = #{ipAddress}
            </if>
            <if test="ipSource != null and ipSource != ''">
                and ip_source = #{ipSource}
            </if>
            <if test="time != null">
                and time = #{time}
            </if>
            <if test="isReview != null">
                and is_review = #{isReview}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>
</mapper>
