<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.icatw.blog.mapper.OauthConfigMapper">
    <resultMap type="cn.icatw.blog.domain.entity.OauthConfig" id="OauthConfigMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="clientId" column="client_id" jdbcType="VARCHAR"/>
        <result property="appName" column="app_name" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="oauthName" column="oauth_name" jdbcType="VARCHAR"/>
        <result property="clientSecret" column="client_secret" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDisable" column="is_disable" jdbcType="INTEGER"/>
    </resultMap>
    <!--查询指定行数据-->
    <select id="selectOauthConfigList" resultMap="OauthConfigMap">
        select
        id, client_id, type, oauth_name, client_secret, create_time, update_time, is_disable, app_name
        from tb_oauth_config
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="clientId != null and clientId != ''">
                and client_id = #{clientId}
            </if>
            <if test="oauthType != null">
                and oauth_type = #{oauthType}
            </if>
            <if test="oauthName != null and oauthName != ''">
                and oauth_name = #{oauthName}
            </if>
            <if test="clientSecret != null and clientSecret != ''">
                and client_secret = #{clientSecret}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="isDisable != null">
                and is_disable = #{isDisable}
            </if>
        </where>
    </select>

    <select id="countOauth" resultType="java.lang.Integer">
        select count(1) from tb_oauth_config
    </select>

    <select id="listOauth" resultType="cn.icatw.blog.domain.vo.OauthInfoVo">
        select id,
               client_id,
               type,
               oauth_name,
               client_secret,
               create_time,
               update_time,
               is_disable,
               app_name
        from tb_oauth_config
        order by create_time desc
        limit #{current},#{size}
    </select>
</mapper>
