<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.icatw.blog.mapper.UniqueViewMapper">
    <resultMap type="cn.icatw.blog.domain.entity.UniqueView" id="UniqueViewMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="viewsCount" column="views_count" jdbcType="INTEGER"/>
    </resultMap>
    <!-- 基本字段 -->
    <sql id="Base_Column_List">
        id ,
                 create_time ,
                 views_count ,
    </sql>
    <!--查询指定行数据-->
    <select id="selectUniqueViewList" resultMap="UniqueViewMap">
        select
        <include refid="Base_Column_List"/>

        from tb_unique_view
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="viewsCount != null">
                and views_count = #{viewsCount}
            </if>
        </where>
    </select>

    <select id="listUniqueViewDTO" resultType="cn.icatw.blog.domain.dto.UniqueViewDTO">
        select date_format(create_time, '%Y-%m-%d') day, views_count
        from tb_unique_view
        where create_time
        <![CDATA[>]]> #{startTime}
          and create_time <![CDATA[<=]]> #{endTime}
        order by create_time
    </select>
</mapper>
